/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  background-image: var(--gradient);
}

.header__card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-block-start: 102px;
  margin-inline-end: 0;
  margin-block-end: 104px;
  margin-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-family: var(--decoration-font, sans-serif);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-inline-start: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-inline-end: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block-end: 20px;
}

.header_subtitle {
  font-family: var(--decoration-font, sans-serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu {
  margin: 25px auto 25px;
}

.theme-menu__button {
  font-family: var(--decoration-font, sans-serif);
  font-size: 14px;
  color: var(--accent-color);
  text-align: center;
  background: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 0;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -24px;
  animation: arrow 1s ease-in-out infinite;
}

.theme-menu__button:not(.theme-menu__button:disabled) {
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  animation: zoom 0.5s ease forwards 1;
}

.theme-menu__button:focus-visible {
  animation: focus 0.5s ease forwards 1;
}

.card {
  margin: 0 auto 54px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title, .card-paragraph {
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color);
  font-size: 18px;
}

.card__title {
  font-weight: 785;
  padding: 4px 10px 6px;
  border-block-end: 2px solid var(--accent-color);
}

.card__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.card:nth-of-type(2) .card__picture {
  filter: grayscale(0.8);
}

.card:nth-of-type(3) .card__picture {
  filter: brightness(102%) hue-rotate(131deg) contrast(142%) invert(36%);
  -webkit-filter: brightness(102%) hue-rotate(131deg) contrast(142%) invert(36%);
  -moz-filter: brightness(102%) hue-rotate(131deg) contrast(142%) invert(36%);
}

.card:nth-of-type(4) .card__picture {
  filter: brightness(107%) hue-rotate(184deg) opacity(71%);
  -webkit-filter: brightness(107%) hue-rotate(184deg) opacity(71%);
  -moz-filter: brightness(107%) hue-rotate(184deg) opacity(71%);
}

.card:nth-of-type(5) .card__picture {
  filter: invert(0.7);
}

.card:nth-of-type(6) .card__picture {
  filter: hue-rotate(0.1turn);
}

.card:nth-of-type(7) .card__picture {
  filter: blur(0.5rem);
}

.card:nth-of-type(8) .card__picture {
  filter: hue-rotate(-90deg);
}

.card__picture-wrapper {
  position: relative;
}

.picture__corner-decor {
  position: absolute;
  top: 23px;
  right: 11px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--decoration-font, sans-serif);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  color: var(--accent-color);
  -webkit-text-stroke: 1px #000000;
  text-shadow:
  -1px 0 var(--background-color), 
  0 1px var(--background-color), 
  1px 0 var(--background-color), 
  0 -1px var(--background-color);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .picture__corner-decor {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
}

.picture__corner-decor-no-transform {
  text-transform: none;
}

.card__content {
  padding: 25px;
  display: grid;
  justify-content: center;
  border-block-start: 2px solid var(--accent-color);
}

.card-paragraph:nth-of-type(1) {
  margin-block-end: 27px;
}

.card-paragraph:last-of-type {
  margin-block-end: 25px;
}

.card-paragraph {
  font-weight: 465;
  line-height: 21px;
}

.card__like-button, .card__icon-button {
  cursor: pointer;
}

.like-container {
  justify-self: end;
  display: flex;
  flex-direction: row;
}

.card__icon-button {
  padding: 0;
  margin: 0 8px 0 0;
  max-block-size: 38px;
}

.like-icon {
  margin: 0;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:not(:hover) .core {
  fill: var(--background-color);
  transition: fill 0.01s 0.03s;
}

.card__icon-button:active .core {
  fill: red;
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  fill: red;
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked {
  animation: big 0.3s 0.01s ease-in 2 alternate;
}

.like-icon.is-liked .sparks {
  animation: appear 0.3s 0.3s ease-in 2 alternate;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--accent-color);
  transition: fill 0.1s;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  animation: zoom 0.5s ease forwards 1;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.5s ease-in-out;
}

.save-button:focus-visible .save-button-container {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.5s ease-in-out;
}

.save-button {
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 306px;
  height: 80px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.save-button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  animation: zoom 0.5s ease forwards 1;
}

.button__text {
  color: var(--button-text-color);
  font-family: var(--decoration-font, sans-serif);
  font-size: 14px;
  mix-blend-mode: difference;
}

.floppy {
  mix-blend-mode: difference;
  fill: var(--button-text-color);
}

.save-button-wrapper {
  margin: 52px auto 102px;
  max-width: 335px;
}

.save-button .button__text {
  margin: 0 0 0 8px;
}

.popup {
  min-inline-size: 341px;
  min-block-size: 195px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 31.5px;
}

.popup_content {
  display: flex;
  gap: 20px;
}

.popup__title, .popup__button-text {
  font-weight: 400;
  font-family: var(--decoration-font, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
}

.popup__title {
  margin-block-end: 25px;
  line-height: 150%;
  width: 234px;
  height: 63px;
  color: var(--accent-color);
}

.popup__close-button {
  max-width: 257px;
  width: 100%;
  height: 38px;
  padding: 9px 17px;
  background: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.popup__button-text {
  line-height: 90%;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}