/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --background-color: #000;
    --accent-color: #00CC14;
    --button-text-color: #00CC14;
    --gradient: repeating-linear-gradient(to left, #000, #000 2px, rgb(0, 0, 0, 0) 2px, rgb(0, 0, 0, 0) 4px),
      repeating-linear-gradient(#000 , #000  2px, rgb(0, 0, 0, 0) 2px, rgb(0, 0, 0, 0) 4px),
      linear-gradient(#007f0c, #004306);
    --button-text-color: #00CC14;
    --cover-color: #00CC14;
    --font-weight-title: 785;
    --font-weight-text: 465;
}

:root.theme-light {
    --background-color: #FFF;
    --accent-color: #000;
    --button-text-color: #FFF;
    --gradient: repeating-linear-gradient(to left, #d3d3d3, #d3d3d3 2px, rgb(211, 211, 211, 0) 2px, rgb(211, 211, 211, 0) 4px),
    repeating-linear-gradient(#d3d3d3 , #d3d3d3  2px, rgb(211, 211, 211, 0) 2px, rgb(211, 211, 211, 0) 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --button-text-color: #FFF;
    --cover-color: rgb(0, 0, 0);
    --font-weight-title: 700;
    --font-weight-text: 400;
}

@media (width >= 696px) {
  .header__card {
    width: 696px;
    margin: 102px auto 104px;
  }

  .picture__corner-decor {
    top: 25px;
    right: 25px;
  }

  .card {
    width: 696px;
  }

  .save-button-wrapper {
    margin-block-end: 105px;
  }
  
  .save-button {
    width: 335px;
    height: 51px;
    border: 2px solid var(--accent-color, #00CC14);
  }

  .popup {
    inline-size: 357px;
    block-size: 193px;
  }

  .popup__close-button {
    min-inline-size: 293px;
    min-block-size: 38px;
  }

}

@media (prefers-color-scheme: light) {
  
  :root {
    --background-color: #FFF;
    --accent-color: #000;
    --button-text-color: #FFF;
    --gradient: repeating-linear-gradient(to left, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3 , #d3d3d3  2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --font-weight-title: 700;
    --font-weight-text: 400;
}

}

@media (prefers-color-scheme: dark) {
  
  :root {
    --background-color: #000;
    --accent-color: #00CC14;
    --button-text-color: #00CC14;
    --gradient: repeating-linear-gradient(to left, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000 , #000  2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c, #004306);
    --font-weight-title: 785;
    --font-weight-text: 465;
}

}

